{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %}Login{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<form method="post">
  <h3 align="center">Login</h3>
  <div class="mb-3">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="mb-3">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
